[MASTER]
disable = missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-public-methods,
    too-many-lines
max-line-length=120
ignore=parsing
good-names=i,j,k,v
